<!DOCTYPE html>
<html>
  <head>
    <title>Get Matched</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>

  <body>
    <h1>Get Matched</h1>
    <div class='nav'>
      {% if not session.logged_in %}
      <a href="{# url_for('login') #}">Log in</a>
      <a href="{# url_for('signup') #}">Sign up</a>
      {% else %}
      <a href="{# url_for('matches') #}">Matches</a>
      {% endif %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
